profiles{
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

executor{
    // Number of cpus for nextflow to make use of
    cpus=200
    // Memory for nextflow to make use of (memory management is not fully incorporated into parts of the pipeline)
    memory = '900 GB'
}